html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

body {    
    display: grid;
    grid-template-columns: minmax(250px, 425px) min(80%, 43.75rem);
}

a {
    text-decoration: none;
    color: black;
}

button {
    
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
}



/* DROPDOWN TESTING */

.btn {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--gap);
    padding: 0.6rem;
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow);
    position: relative;
  }
  
  .bx {
    font-size: 1.1rem;
  }
  
  .dropdown {
    position: absolute;
    width: 250px;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-top: 0.3rem;
    background: white;

    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
  }
  
  .dropdown a {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
  }
  
  .dropdown a:hover {
    background-color: var(--color);
    color: white;
  }

  .show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
  }

  .arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
  }



/* Sidebar _____________ */


.sidebar {
    background-color: #fafafa;
    height: 100vh;
    min-width: 15vw;
    max-width: 200px;
    padding: 1rem;
}

.logo-section {
    display: flex;
    justify-content: center;
}

.logo-section img {
    max-width: 150px;
}

.project-section {
    margin-top: 5vh;
}

#project-list-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.project-menu-title {
    
}

.project-menu-title:hover {
    cursor: pointer;
}

.project-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    margin-top: 4px;
    border-radius: 5px;
}

.project-link-container:hover {
    cursor: pointer;
    background-color:rgb(221, 221, 221);
}



.project-link {
    display: flex;
    align-items: center;
    flex: 1;
    border: none;
    gap: 8px;
}

.project-link-active, .project-link-active:hover {
  background-color: rgb(177, 177, 177);
}



.project-dropdown-button-div {
    box-sizing: border-box;
}

.project-dropdown-icon {
    display: none;
}

.project-link-container:hover .project-dropdown-icon {
    display: block;
}

.project-dropdown-btn {
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 2px;
}

.project-dropdown-btn:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}

.hidden {
    display: none;
}


.current-project {
    display: flex;
    flex-grow: 1;
}

.task-container, .project-section-header {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.project-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* Main Body __________ */

main {
    width: 100%;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.task-list-container {
    display: flex;
    flex-direction: column;
}

.task-section-header {
    font-size: 3rem;
}

.task-container {
    display: grid;
    grid-template-rows: repeat(2, 2rem);
    margin-top: 2rem;
}

.taskTitle {
    grid-column-start: 1;
    grid-column-end: 2;
}

.task-project { 
    grid-column-start: 3;
    grid-row-start: 2;
    border: none;
    cursor: pointer;
    justify-self: end;
    align-self: self-end;
}

.task-project:hover {
    color: rgb(177, 177, 177);
    border-radius: 10px;
}


/* Delete Task & Project Buttons */

.taskCard-delete-task {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 25px;
    height: 25px;
    justify-self: end;
}

.deleteBtn {
    display: none;
    border: none;
    cursor: pointer;
}

.deleteBtn:hover {
    border: 1px solid rgb(189, 189, 189);
    background-color: rgb(133, 132, 132);
    color: rgb(255, 255, 255);
}


.task-container:hover > .taskCard-delete-task {
    display: block;
}

.task-container:hover {
    cursor: pointer;
}

.project-link-container:hover > .deleteBtn {
    display: block;
}




/* Task Modal & Form __________________ */

#taskDialog {
    min-width: 550px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px lightgray;
    margin-bottom: 70vh;
}

dialog::backdrop {
    opacity: 0;
}


#addTaskForm {
    display: flex;
    flex-direction: column;
}

form {
    padding: 1rem;
}

form > div {
    flex-grow: 1;
}

form > div button {
    border: 1px lightgray solid;
    border-radius: 5px;
    padding: 6px 15px;
    font-weight: 600;
    color: rgb(101, 101, 101);
}

form > div button:hover {
    background-color: rgb(189, 189, 189);
    color: white;
    cursor: pointer;
} 

#confirm-add-btn {
    background-color: rgb(109, 108, 179);
    color: white;
}

#confirm-add-btn:hover {
    background-color: rgb(134, 133, 215);
}

#cancel-add-btn {
    background-color: rgb(228, 228, 228);
}

#cancel-add-btn:hover {
    background-color: rgb(241, 241, 241);
    color: rgb(101, 101, 101);
}

#topFormSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#priority-div {
    display: flex;
    gap: 10px;
}

#bottomFormSection {
    display: flex;
    justify-content: end;
    gap: 10px;
}

#task-name-input {
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 10px 0px 10px 10px;
    color: rgb(60, 60, 60);
}

#task-name-input:focus {
    outline: 1px solid lightgray;
}




.feather-plus {
    height: 15px;
    width: 15px;
    padding-right: 2px;
}

.addtask, .addproject{
    border: none;
    display: inline-flex;
    vertical-align: middle;
    padding: 8px;
}

#addTaskMainBtn {
    margin-top: 1rem;
}

.side-btn:hover {
    border: solid 1px gray;
    border-radius: 5px;
    vertical-align: middle;

}

.main-content-btn {
    color: rgb(177, 177, 177);
}

.addproject:hover {
    color: rgb(177, 177, 177);
}

.addtask:hover {
    color: black;
}

.addtask:hover, .addproject:hover {
    cursor: pointer;
    border: none;
}


.user-options {
    display: flex;
    align-items: start;
    justify-content: center;
}

.user-options > button {
    margin: 15px 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.user-options > button:hover {
    cursor: pointer;
    color: rgb(177, 177, 177);
}

